@media all and (min-width: 300px) {
    .nav-item .dropdown-menu {
        display: none;
    }

    .nav-item:hover .dropdown-menu {
        display: block;
    }

  
}

@media all and (max-width: 1450px) {
    .navbar1 input {
        display: none;
    }
    header{
        font-size: 10px;
    }
    .navbar1 {
        
    }

    .nav-link {
        
    }

    .dropdown-menu {
       
    }

    #menu{        
        margin-left: 10px;
    }

    #logo{
        display: none;
    }

  
}


.navbar1 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: end;
    column-gap: 10px;
    margin-right: 10px;
    color: rgb(113, 112, 112);
}

.navbar1 a {
    color: rgb(113, 112, 112);
}

.navbar1 a:hover {
    color: rgb(161, 156, 156);
}

.navbar1 input {
    width: 200px;
    color: rgb(113, 112, 112);
    visibility: visible;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

.nav-link {
    margin: auto;
    font-size: 18px;
    color: rgb(128, 124, 124);
    font-weight: bold;
    
}

.dropdown-menu {
    font-size: 18px;
}

.nav-link:hover {
    color: rgb(161, 156, 156);
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

#admin{
    margin: auto;
    list-style: none;
}

#menu{
    text-align: center;
    align-items: center;
}
