<section class="container-fluid">

    <button id="addpessoa" (click)="openDialog(null)">Add Utilizador</button>

    <mat-form-field class="container-fluid" appearance="fill">
        <mat-label>Filtro</mat-label>
        <input id ="pesquisa" matInput [(ngModel)]="cpesquisa" (input)="processaPesquisa()">
      </mat-form-field>
  
    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let utilizador"> {{utilizador.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> NOME </th>
            <td mat-cell *matCellDef="let utilizador"> {{utilizador.nome}} </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> EMAIL </th>
            <td mat-cell *matCellDef="let utilizador"> {{utilizador.email}} </td>
        </ng-container>
  
        <ng-container matColumnDef="senha">
            <th mat-header-cell *matHeaderCellDef> SENHA </th>
            <td mat-cell *matCellDef="let utilizador"> {{utilizador.senha }} </td>
        </ng-container>
  
        <ng-container matColumnDef="morada">
          <th mat-header-cell *matHeaderCellDef> MORADA </th>
          <td mat-cell *matCellDef="let utilizador"> {{utilizador.morada }} </td>
        </ng-container>
  
        <ng-container matColumnDef="codigo_postal">
          <th mat-header-cell *matHeaderCellDef> CÓDIGO POSTAL </th>
          <td mat-cell *matCellDef="let utilizador"> {{utilizador.codigo_postal }} </td>
        </ng-container>
  
        <ng-container matColumnDef="pais">
          <th mat-header-cell *matHeaderCellDef> PAÍS </th>
          <td mat-cell *matCellDef="let utilizador"> {{utilizador.pais }} </td>
        </ng-container>
  
        <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef> ACTIVO </th>
            <td mat-cell *matCellDef="let utilizador"> {{utilizador.activo ? '&#10004;' : '&#10005;'}} </td>
        </ng-container>

        <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef> ADMIN </th>
            <td mat-cell *matCellDef="let utilizador"> {{utilizador.admin ? '&#10004;' : '&#10005;'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="operacao">
            <th mat-header-cell *matHeaderCellDef> OPERAÇÕES </th>
            <td mat-cell *matCellDef="let utilizador">
  
                <button mat-icon-button color="primary" (click)="editarUtilizador(utilizador)">
                    <mat-icon>edit</mat-icon>
                </button>
  
                <button mat-icon-button color="warn" (click)="excluirUtilizador(utilizador.id)">
                    <mat-icon>delete</mat-icon>
                </button>
  
            </td>
            
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>

    <mat-paginator class="mat-elevation-z8 matpaginator"
    [length]="dataSource.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="page index">
  </mat-paginator>
  
  </section>
